{% extends "layout.njk" %}

{% block content %}

<div class="freela-container">
    <h3>{{ freela.data.title }}</h3>
    <p>Author: {{ freela.author }}</p>
    <p>Description: {{ freela.data.description }}</p>
    <p>Reward: {{ freela.reward }}</p>
    <p>Status: {% if freela.status %}Open{% else %}Closed{% endif %}</p>
    {% if freela.status %}
        {% if currentUser and currentUser._id != freela.author._id %}
            <button class="btn-accept" onclick="acceptFreela('{{ freela._id }}')">Accept Freela</button>
        {% endif %}
    {% else %}
        {% if currentUser and currentUser._id == freela.cowboy._id %}
            <button class="btn-complete" onclick="completeFreela('{{ freela._id }}')">Mark as Completed</button>
        {% else %}
            <label>Freela in progress</label>
        {% endif %}
    {% endif %}
</div>

{% endblock %}