{% extends "layout.njk" %}

{% block content %}

{{ title }}


<div class="box-card-login">
    <form id="formFreela" action="/space/updateFreela/{{freela._id}}" method="post">
    <input type = "hidden" value ="{{freela._id}}" name="freelaId">
    <input type = "hidden" value ="{{userId}}" name="userId">
        <div class="form-group label">
            <label>title</label>
        </div>
        <div class="col-md-6 form-group element">
            <input type="text" placeholder="title" class="form-control" id="freela-title" name="title" required>
        </div>
        <div class="form-group label">
            <label>description</label>
        </div>
        <div class="col-md-6 form-group element">
            <input type="text" placeholder="description" class="form-control" id="freela-description" name="description" required>
        </div>
        <div class="form-group label">
            <label>reward</label>
        </div>
        <div class="col-md-6 form-group element">
            <input type="number" placeholder="reward" class="form-control" id="freela-reward" name="reward" required>
        </div>
        <input type="hidden" name="author" value="{{ user._id }}">

        <div class="col-md-6 form-group element">
            <button type="submit" class="btn btn-primary">Update freela</button>
        </div>
    </form>
</div>

{% endblock %}