

<div class="profile-card">
  <div class="profile-image">
    <img src="{{ profile.image }}" alt="Profile Image">
  </div>
  <div class="profile-details">
    <h2>{{ user.name }}</h2>
    <h4>{{ profile.nick }}</h4>
  </div>
</div>

{% block content %}
{% endblock %}