{% extends "layout.njk" %} {% block content %}

<div class="profile">
  <div class="profile-details">
    <h2 class="profile-name">{{ user.name }}</h2>
    <p class="profile-email">Email: {{ user.email }}</p>
  </div>
  <div class="profile-freelas">
    <h3 class="freelas-title">Freelas Concluídos:</h3>
    <ul class="freelas-list">
      {% for freela in user.freelaDone %}
      <li class="freela-item">{{ freela.title }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
