{% extends "layout.njk" %} {% block content %}

<div class="container">
  <h1>{{ title }}</h1>
  <div class="card">
    <div class="card-body">
      <form id="formShooter" action="/space/shooter/add" method="post">
        <input type="hidden" value="{{userId}}" name="id" />
        <div class="form-group">
          <label for="shooter-account-balance">Account Balance</label>
          <input
            type="number"
            placeholder="Enter account balance"
            class="form-control"
            id="shooter-account-balance"
            name="accountBalance"
            required
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">
            Register Shooter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
