{% extends "layout.njk" %} {% block content %}

<div class="container">
  <h1>{{ title }}</h1>
  <div class="card">
    <div class="card-body">
      <form id="formCowboy" action="/space/cowboy/add" method="post">
        <input type="hidden" value="{{userId}}" name="id" />

        <div class="form-group">
          <label for="cowboy-nick">Nick</label>
          <input
            type="text"
            class="form-control"
            id="cowboy-nick"
            name="nick"
            placeholder="Enter your nickname"
            required
          />
        </div>

        <div class="form-group">
          <label for="cowboy-treasure-chest">Treasure</label>
          <input
            type="number"
            class="form-control"
            id="cowboy-treasure-chest"
            name="treasureChest"
            placeholder="Enter the amount of treasure"
            required
          />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Register Cowboy</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
