{% extends "layout.njk" %}

{% block content %}

{{ title }}


<h1>userId<h1>

<div class="box-card-login">
    <form id="formCowboy" action="/register/cowboy" method="post">
    <input type = "hidden" value ={{userId}} name="id">
        <div class="form-group label">
            <label>Nick</label>
        </div>
        <div class="col-md-6 form-group element">
            <input type="text" placeholder="nick" class="form-control" id="cowboy-nick" name="nick" required>
        </div>
        <div class="form-group label">
            <label>Freelas Concluídos</label>
        </div>
        <div class="col-md-6 form-group element">
            <input type="text" placeholder="freelas done" class="form-control" id="cowboy-freelas-done" name="freelaDone" required>
        </div>
        <div class="form-group label">
            <label>Tesouro</label>
        </div>
        <div class="col-md-6 form-group element">
            <input type="number" placeholder="treasure chest" class="form-control" id="cowboy-treasure-chest" name="treasureChest" required>
        </div>
        <div class="col-md-6 form-group element">
            <button type="submit" class="btn btn-primary">Registrar Cowboy</button>
        </div>
    </form>
</div>

{% endblock %}