{% extends "layout.njk" %} {% block content %}

<h1>{{ title }}</h1>
<div class="login-card">
  <form id="formUser" action="/space/login" method="post">
    <div class="form-group">
      <label for="user-email">Login</label>
      <input
        type="email"
        id="user-email"
        name="email"
        placeholder="Email"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="user-password">Password</label>
      <input
        type="password"
        id="user-password"
        name="password"
        placeholder="Password"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary">See You Space</button>
  </form>
</div>
<div class="register-card">
  <p>Don't have an account?</p>
  <a class="btn-register" href="/space/user/add">Register Now</a>
</div>
{% endblock %}
