<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    
    <h2>User Information</h2>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Type: {{ user.type }}</p>
    
    {% if user.type === 'cowboy' %}
        <h2>Cowboy Information</h2>
        <p>Nick: {{ cowboy.nick }}</p>
        <p>Treasure Chest: {{ cowboy.treasureChest }}</p>
    {% elseif user.type === 'shooter' %}
        <h2>Shooter Information</h2>
        <p>Account Balance: {{ shooter.accountBalance }}</p>
    {% endif %}
</body>
</html>