{% extends "layout.njk" %} {% block content %}

<h1>{{ title }}</h1>
<div class="box-card-login">
  <form id="formUser" action="/space/user/add" method="post">
    <div class="form-group">
      <label for="user-email">Email</label>
      <input
        type="email"
        id="user-email"
        name="email"
        class="form-control"
        placeholder="Digite seu email"
        required
      />
    </div>
    <div class="form-group">
      <label for="user-password">Senha</label>
      <input
        type="password"
        id="user-password"
        name="password"
        class="form-control"
        placeholder="Digite sua senha"
        required
      />
    </div>

    <div class="form-group">
      <label for="user-name">Nome</label>
      <input
        type="text"
        id="user-name"
        name="name"
        class="form-control"
        placeholder="Digite seu nome"
        required
      />
    </div>

    <div class="form-group">
      <label for="user-type">Tipo de Usuário</label>
      <select id="user-type" name="type" class="form-control" required>
        <option value="shooter">Shooter</option>
        <option value="cowboy">Cowboy</option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
</div>
{% endblock %}
