{% extends "layout.njk" %} {% include "header.njk" %} {% block content %}

<head>
  <link rel="stylesheet" href="/css/layout/profile.css" />
</head>
<div class="profile">
  <h1 class="profile__title">{{ title }}</h1>
  <div class="profile__card-box">
    <h2 class="profile__sub-title">User Information</h2>
    <p class="profile__info">{{ user.name }}</p>
    <p class="profile__info">Email: {{ user.email }}</p>
    {% if user.type === 'cowboy' %}
    <h2 class="profile__sub-title">Cowboy Information</h2>
    <p class="profile__info">Nick: {{ cowboy.nick }}</p>
    <p class="profile__info">Treasure Chest: {{ cowboy.treasureChest }}</p>
    <p class="profile__info">
      Freelancers Done: {% for freela in freelas %} {% if user._id.toString() ==
      freela.author.toString() %}
      <a href="/space/freela/{{ freela._id }}" class="profile__freela-link">
        {{ freela.title }}
      </a>
      {% endif %} {% endfor %}
    </p>
    {% elseif user.type === 'shooter' %}
    <h2 class="profile__sub-title">Shooter Information</h2>
    <p class="profile__info">Account Balance: {{ shooter.accountBalance }}</p>
    <p class="profile__info">
      Freelancers to do: {% for freela in freelas %} {% if user._id.toString()
      == freela.author.toString() %}
      <a href="/space/freela/{{ freela._id }}" class="profile__freela-link">
        {{ freela.title }}
      </a>
      {% endif %} {% endfor %}
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
